@model Ticket.Model.Wedstrijd

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wedstrijd</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.thuisPloeg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clubs.naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bezoekersPloeg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clubs1.naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stadionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stadion.naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
      
       

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
