@model Ticket.Model.Wedstrijd

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wedstrijd</h4>
    <p>
        @if (Model.scoreThuis == null)
        {
            @Html.Label("Deze wedstrijd moet nog gespeeld worden en zal doorgaan op "+ Convert.ToString(Model.Date) +" in het stadion " + Model.Stadion.naam )
        }
    </p>
   <div class="matchView">
       <div class="clubThuis">
           @* add club logo*@
           <img src="~/@Url.Content(Model.Clubs.logo)" alt="Logo" class="image"/>
           @Html.DisplayFor(model => model.Clubs.naam)
       </div>
       <div class="score">
          
          @if (Model.scoreThuis == null)
          {
              @Html.Label("°°°")
          }
           @Html.DisplayFor(model => model.scoreThuis) - 
           
           @if (Model.scoreBezoekers == null)
           {
               @Html.Label("°°°")
           }

               @Html.DisplayFor(model => model.scoreBezoekers)

           </div>
           <div class="clubVerplaatsing">
           @*add club logo*@
               
           @Html.DisplayFor(model => model.Clubs1.naam)
               <img src="~/@Url.Content(Model.Clubs1.logo)" alt="Logo" class="image" />
       </div>
   </div>
    <div class="matchInfo">
        <p> Hier komt randinfo over de wedstrijd, aantal tickets verkocht, een link om tickets te kopen, of hoeveel bezoekers geweest waren</p>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
