@model Ticket.Model.Wedstrijd
@Styles.Render("~/Content/Reservatie")
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wedstrijd</h4>
    <p>
        @if (Model.Date > DateTime.Now)
        {
            @Html.Label("Deze wedstrijd moet nog gespeeld worden en zal doorgaan op "+ Convert.ToString(Model.Date) +" in het stadion " + Model.Stadion.naam )
        }
    </p>
   <div class="matchView">

       <table>
           <tr>
               <th>
                   <img src="~/@Url.Content(Model.Clubs.logo)" alt="Logo" class="logo" />
               </th>
               <th>
                   @if (Model.scoreThuis == null)
                   {
                       @Html.Label("°°°")
                   }
                   @Html.DisplayFor(model => model.scoreThuis) -

                   @if (Model.scoreBezoekers == null)
                   {
                       @Html.Label("°°°")
                   }

                   @Html.DisplayFor(model => model.scoreBezoekers)
               </th>
               <th>
                   <img src="~/@Url.Content(Model.Clubs1.logo)" alt="Logo" class="logo" />
               </th>
           </tr>
           <tr>
               <th>
                   @Html.DisplayFor(model => model.Clubs.naam)
               </th>
               <th></th>
               <th>
                   @Html.DisplayFor(model => model.Clubs1.naam)
               </th>
           </tr>
       </table>


     
       </div>
   </div>
    <div class="matchInfo">
        <p>
            @* Als de score nog null is , dan is de wedstrijd nog niet gespeeld, anders is het het getal 0 *@
          
             @if (Model.Date > DateTime.Now)
            {
                @Html.DisplayName("Er zijn momenteel " + (string)ViewBag.AantalTickets +" tickets verkocht voor deze wedstrijd")
                 <br />
                @Html.DisplayName("En er zijn nog "+(string) ViewBag.AantalTicketsBeschikbaar +" aantal tickets beschikbaar")
                 <br />
                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Reservatie", new { id = Model.id })'">Tickets bestellen</button>
             }
           @if (Model.Date < DateTime.Now)
           {
              @Html.Label("Deze wedstrijd had " + (string)ViewBag.TicketSold + " bezoekers");
           }
        </p>
        
    </div>

<p>
    
    @Html.ActionLink("Terug naar wedstrijden", "Index")
</p>
