@model Ticket.Model.Wedstrijd
@Styles.Render("~/Content/Reservatie")
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wedstrijd</h4>
    <p>
        @if (Model.scoreThuis == null)
        {
            @Html.Label("Deze wedstrijd moet nog gespeeld worden en zal doorgaan op "+ Convert.ToString(Model.Date) +" in het stadion " + Model.Stadion.naam )
        }
    </p>
   <div class="matchView">

       <table>
           <tr>
               <th>
                   <img src="~/@Url.Content(Model.Clubs.logo)" alt="Logo" class="logo" />
               </th>
               <th>
                   @if (Model.scoreThuis == null)
                   {
                       @Html.Label("°°°")
                   }
                   @Html.DisplayFor(model => model.scoreThuis) -

                   @if (Model.scoreBezoekers == null)
                   {
                       @Html.Label("°°°")
                   }

                   @Html.DisplayFor(model => model.scoreBezoekers)
               </th>
               <th>
                   <img src="~/@Url.Content(Model.Clubs1.logo)" alt="Logo" class="logo" />
               </th>
           </tr>
           <tr>
               <th>
                   @Html.DisplayFor(model => model.Clubs.naam)
               </th>
               <th></th>
               <th>
                   @Html.DisplayFor(model => model.Clubs1.naam)
               </th>
           </tr>
       </table>


     
       </div>
   </div>
    <div class="matchInfo">
        <p> Hier komt randinfo over de wedstrijd, aantal tickets verkocht, een link om tickets te kopen, of hoeveel bezoekers geweest waren</p>
    </div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
