@model IEnumerable<Ticket.Model.Wedstrijd>

@{
    ViewBag.Title = "Geschiedenis";
}

<h2>Geschiedenis</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.Label("Thuisploeg")
        </th>
        <th>
            @Html.Label("Bezoekersploeg")
        </th>
        <th>
            @Html.Label("Stadion")
        </th>
        <th>
            @Html.Label("Datum")
        </th>
        <th>
            @Html.Label("score thuis")
        </th>
        <th>
            @Html.Label("score bezoekers")
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Clubs.naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clubs1.naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stadion.naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.scoreThuis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.scoreBezoekers)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.id })
                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {
                        <text> | </text>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id })
                        <text> | </text>
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    }
                </td>
            </tr>
        } // End foreach
    } @* End if *@

</table>
