@model IEnumerable<Ticket.Model.Wedstrijd>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    @Html.ActionLink("Maak een nieuwe wedstrijd", "New")
}
</p>

@Html.ActionLink("Bekijk geschiedenis", "Geschiedenis")<br />
<table class="table" id="datatable">
    <thead>
        <tr>
            <th>
                @Html.Label("Thuisploeg")
            </th>
            <th>
                @Html.Label("Bezoekersploeg")
            </th>
            <th>
                @Html.Label("Stadion")
            </th>
            <th>
                @Html.Label("Datum")
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Clubs.naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clubs1.naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stadion.naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @*TODO verbergen indien de user niet ingelogd is *@
                    <button type="button" class="btn btn-info btn-sm" onclick="location.href='@Url.Action("Index", "Reservatie", new { id = item.id })'">Tickets bestellen</button>
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.id })
                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {
                        <text> | </text>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id })
                        <text> | </text>
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    }
                </td>
            </tr>
            } 

        </tbody>
    } @* End if *@


  

</table>
@section scripts
                {
    <script language="javascript" type="text/javascript">
                        $(document).ready(function () {
                            $("#datatable").DataTable({
                                "order": [[ 4, "asc" ]]
                            });
                        });
    </script>
}