@model Ticket.Model.Clubs

@Styles.Render("~/Content/ClubDetail")

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.naam)</h4>
    <hr />

    <div class="content">
        <img src="~/@Url.Content(Model.logo)" alt="logo" width="200" />
    </div>

    <div class="content">
        <table>
            <tr>
                <td>
                    @Html.Label("Thuis stadion: ")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Stadion.naam)
                </td>

            </tr>
            <tr>
                <th>
                    @Html.Label("Plaats:")
                </th>

            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Stadion.adres)
                </td>

            </tr>
        </table>
    </div>

    <div class="content">
        <table>
            @foreach (var item in ViewBag.wedstrijd)
            {
                <tr>
                    <td>
                        @item.Date
                    </td>                    
                </tr>
            }
        </table>
    </div>
</div>

<footer>
    <br />
    @Html.ActionLink("Back to List", "Index")

    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {

        <text> | </text>
        @Html.ActionLink("Edit", "Edit", new { area = "Admin", id = Model.id })
        <text> | </text>
        @Html.ActionLink("Delete", "Delete", new { area = "Admin", id = Model.id })
    }
</footer>
