@model Ticket.Model.Clubs

@Styles.Render("~/Content/ClubDetail")

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>@Html.DisplayFor(model => model.naam)</h4>
    <hr />

    <div class="content">
        <img src="~/@Url.Content(Model.logo)" alt="logo" width="200" />
    </div>

    <div class="content">
        <table>
            <tr>
                <td>
                    @Html.Label("Thuis stadion: ")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Stadion.naam)
                </td>

            </tr>
            <tr>
                <th>
                    @Html.Label("Plaats:")
                </th>

            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Stadion.adres)
                </td>

            </tr>
        </table>
        <br />
        <br />
    </div>

    <div class="content" style="margin-right: 0px">
        <table>
            @if (ViewBag.wedstrijd != null)
            {
                <tr>
                    <td>
                        @Html.Label("Toekomstige wedstrijden:")
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class"list-group">
                            @foreach (var item in ViewBag.wedstrijd)
                            {
                                DateTime date = Convert.ToDateTime(item.Date);

                                <div class="list-group-item hover" onclick="location.href='@Url.Action("Details", "Wedstrijd", new { id = item.id })'">

                                    @date.ToString("d")
                                    @date.ToString("t")

                                    <text>  |  </text>

                                    <img src="~/@Url.Content(ViewBag.clubs[item.thuisPloeg].logo)" alt="logo" style="max-height: 35px; max-width: 35px" />
                                    <text>  -  </text>
                                    <img src="~/@Url.Content(ViewBag.clubs[item.bezoekersPloeg].logo)" alt="logo" style="max-height: 35px; max-width: 35px" />

                                    <button type="button" class="btn btn-primary btn-xs" onclick="location.href='@Url.Action("Index", "Reservatie", new { id = item.id })'">Koop tickets</button>
                                    <button type="button" class="btn btn-primary btn-xs" onclick="location.href='@Url.Action("Index", "Abonnement")'">Koop Abonnement</button>
                                </div>

                            } @* end foreach *@
                        </div>
                    </td>
                </tr>
            } // end first if
            else
            {
                <tr>
                    <td>
                        <div class="alert alert-info">Ploeg heeft nog geen wedstrijden in de nabije toekomst.</div>
                    </td>
                </tr>
            } @* end else if *@
        </table>
    </div>
</div>

<footer>
    <br />
    @Html.ActionLink("Back to List", "Index")

    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {

        <text> | </text>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id })
        <text> | </text>
        @Html.ActionLink("Delete", "Delete", new { id = Model.id })
    }
</footer>
