@model Ticket.Model.Stadion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div> 
    <h4>@Html.DisplayFor(Model =>Model.naam)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Adres: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adres)
        </dd>

    </dl>
</div>
<p>
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.id })
    @Html.Label("|")
}
    @Html.ActionLink("Back to List", "Index")
</p>
