@model IEnumerable<Ticket.Model.Clubs>
@{
    ViewBag.Title = "Alle stadions in Belgie";
}
<h2>Index</h2>

@Styles.Render("~/Content/Stadion.css")
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


    @foreach (var item in Model)
    {
      
        <div id="stadionView">
            <img src="~/@Url.Content(item.logo)" alt="logo" />
            <div>
                <h4>@Html.Raw(item.Stadion.naam)</h4>
                <p>
                    Dit is het stadion van @Html.Raw(item.naam)
                    <br />Adres: @Html.Raw(item.Stadion.adres) 
                    <br />
                    
                    <br />
                    <br />
                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { area = "Admin", id = item.Stadion.id })
                        <text> | </text>
                        @Html.ActionLink("Delete", "Delete", new { area = "Admin", id = item.Stadion.id })
                    }
                </p>
            </div>
        </div>

    }
    
  

     

