@model TicketVerkoopVoetbal.Models.ShoppingCartViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Model != null)
{
    using (Html.BeginForm("Payment", "ShoppingCart"))
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].ThuisPloeg)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].BezoekersPloeg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].Stadion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].Datum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].Aantal)
                </th>
                <th>
                    Subtotaal
                </th>
                <th></th>
            </tr>
            @{ float total = 0;}



            @for (var i = 0; i < Model.Cart.Count; i++)
            {
                @Html.HiddenFor(m => Model.Cart[i].WedstrijdId)
                <tr>
                    <td>
                        @Html.DisplayFor(m => Model.Cart[i].ThuisPloeg)
                    </td>
                    <td>
                        @Html.DisplayFor(m => Model.Cart[i].BezoekersPloeg)
                    </td>
                    <td>
                        @Html.DisplayFor(m => Model.Cart[i].Stadion)
                    </td>
                    <td>
                        @Html.DisplayFor(m => Model.Cart[i].Datum)
                    </td>
                    <td>
                        @Html.DisplayFor(m => Model.Cart[i].Aantal)
                    </td>
                    <td>
                        @{
                            var subtotaal = Model.Cart[i].Prijs * Model.Cart[i].Aantal;
                            total += subtotaal;

                        }
                        @subtotaal
                    </td>

                    <td>
                        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "ShoppingCart", new { id = Model.Cart[i].WedstrijdId })'"> Verwijder uit kar</button>
                    </td>
                </tr>

                            } @* End For *@
                            <tr>
                                <th>
                                    Total
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th id="cart-total">
                                    @total
                                </th>
                                <th>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Checkout" class="btn btn-default" />
                                        </div>
                                    </div>
                                </th>
                            </tr>



                        </table>
                                }
                            }
                            else
                            { @Html.Raw("Uw winkelkar is momenteel leeg")  }

@Html.ActionLink("Keer terug", "index", "Wedstrijd")