@model Ticket.Model.AspNetUsers

@{
    ViewBag.Title = "Profiel";
}

<h2>Profiel</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Naam")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.Label("Voornaam")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.Label("Adres")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdressLine)
        </dd>

        <dt>
            @Html.Label("Stad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Paswoord wijzigen", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
</p>
